/* common shared style */
body {
    font-family: 'Open Sans', sans-serif;
}


.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    color:  #FFFF;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 30px ;

}




/* nav style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.text-primary {
    color: #FD6E0A;
}

.nav-title {

    color: var(#181818);
    font-size: 45px;
    font-weight: 800;

}
nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;

}

nav a {
    text-decoration: none;
    color: #474747;

}